@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
}

html, body {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    background: linear-gradient(to right, #0000007c, #0000007c), url(imgs/salon.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    color: #fff;
    width: 100%;
    height: 100%;
}

/* html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: #e60000;
} */

section {
    padding: 3rem 9%;
}

span {
    color: #F08080;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    color: #fff;
    font-size: 1.7rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .1rem;
}

.heading {
    text-align: center;
    color: #222;
    margin-bottom: 3rem;
    font-size: 4rem;
}

.navbar:hover {
    color: #000;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(0.4);
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    color: #222;
    font-weight: bolder;
}

.header .logo i {
    color: #e60000;
}

.header .navbar a {
    transition: 0.3s ease-in-out;
    margin: 0 1.5rem;
    font-size: 1.7rem;
    color: #222;
}

.header .navbar a:hover {
    color: #e60000;
}

.header .icons div,
.header .icons a {
    transition: 0.3s ease-in-out;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.7rem;
    color: #222;
    margin-left: .3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
    transition: 0.3s ease-in-out;
    background: #e60000;
    color: #fff;
}

.header #menu-btn {
    display: none;
}

main{
    margin-top: 400px;
    padding: 20px;
    width: 100%;
    height: 500px;
    background: #fff;
    color: #000;
    font-size: 1.5rem;
}
main > h2{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 3rem;
    color: #e60000;
    text-align: center;

}
.txt {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #000;
}

form{
    width: 100%;
    height: 100%;
}
.select{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.location{
    display: flex;
    flex-direction: column;
    margin: 5px 20px 5px 0px;
}
.category{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.service{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

label{
    margin-right: 100px;
}
select{
    width: 150px;
    height: 25px;
    outline: none;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 5px;
    background: transparent;
    margin-right: 80px;
}
input{
    width: 150px;
    height: 25px;
    outline: none;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 5px;
    background: transparent;
    margin-right: 80px;
}
button{
    width: 80px;
    height: 30px;
    padding: 5px;
    border: 0.1px solid #fff;
    border-radius: 5px;
    background: #e60000;
    color: #eee;
    font-size: 1.5rem;
    text-transform: uppercase;
}
button:hover{
    background: #F08080;
    color: #000;
    box-shadow: 1px 1px 1px;
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
